<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio - Mousselândia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.css')}}">
</head>
<body>
    <header>
        <h1>Cardápio da Mousselândia</h1>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#mousses">Mousses</a></li>
                <li><a href="#extras">Extras</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="mousses">
        <h2>Mousses</h2>
        <div class="item">
            <img src="{{ url_for('static', filename='img/mousse_frutas.jpg')}}" alt="Mousse de Frutas Vermelhas">
            <div class="item-info">
                <h3>Mousse de Frutas Vermelhas</h3>
                <p>Leve e refrescante, ideal para qualquer ocasião.</p>
                <span>Preço: R$ 7,00</span>
            </div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='img/mousse_limao.jpg')}}" alt="Mousse de Limão">
            <div class="item-info">
                <h3>Mousse de Limão</h3>
                <p>Uma mousse cítrica que proporciona uma explosão de sabor.</p>
                <span>Preço: R$ 5,00</span>
            </div>
        </div>
    </section>

    <section id="extras">
        <h2>Extras</h2>
        <div class="item">
            <img src="{{ url_for('static', filename='img/mousse_maracuja.jpg')}}" alt="Cobertura de Chocolate">
            <div class="item-info">
                <h3>Mousse de Maracuja</h3>
                <p>Uma explosão de sabor tropical, leve e refrescante, perfeita para adoçar qualquer momento.</p>
                <span>Preço: R$ 5,00</span>
            </div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='img/mousse_moran.jpg')}}" alt="Frutas Frescas">
            <div class="item-info">
                <h3>Mousse de Morango</h3>
                <p>Deliciosamente suave e frutado, ideal para momentos de alegria, trazendo um toque doce e vibrante a qualquer ocasião</p>
                <span>Preço: R$ 5,00</span>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Mousselândia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>


