<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mousselândia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
        <h1>Mousselândia</h1>
        <nav>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/cardapio">Cardapio</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="sobre">
        <h2>Sobre Nós</h2>
        <p>A Mousselândia é uma loja dedicada a trazer alegria e sabor através de nossos deliciosos mousses. Com receitas criativas e um toque especial, cada produto é feito com carinho e atenção aos detalhes, proporcionando uma experiência única e memorável para os amantes de sobremesas.</p>
    </section>

   <section id="produtos">
    <h2>Nossos Produtos</h2>
    <div class="produto">
        <h3>Mousse de Chocolate</h3>
        <p>Uma combinação perfeita de chocolate rico e cremoso, feito com ingredientes de alta qualidade.</p>
    </div>
    <div class="produto">
        <h3>Mousse de Frutas Vermelhas</h3>
        <p>Deliciosa mousse de frutas vermelhas, leve e refrescante, ideal para qualquer ocasião.</p>
    </div>
    <div class="produto">
        <h3>Mousse de Limão</h3>
        <p>Uma mousse cítrica e leve, que proporciona uma explosão de sabor a cada colherada.</p>
    </div>
</section>

    <footer>
        <p>&copy; 2024 Mousselândia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>