<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mousselândia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css')}}">
</head>
<body>
    <header>
        <h1>Mousselândia</h1>
    </header>
    <main>
        <section>
            <h2>História</h2>
            <p>
                A Mousselândia nasceu da paixão por mousses, buscando proporcionar momentos de alegria e refrescância em cada colherada. Fundada em 2015, nossa jornada começou em uma pequena cozinha, onde cada receita era feita com carinho e dedicação. Desde então, temos nos especializado em criar mousses que encantam o paladar.
            </p>
            <p>
                Com o passar dos anos, a Mousselândia cresceu e se tornou um nome reconhecido pela qualidade e sabor inigualáveis. Continuamos a trazer inovações e experiências únicas, sempre mantendo nossa essência: amor em cada receita e um compromisso com a satisfação dos nossos clientes.
            </p>
        </section>
        <section>
            <h2>Missão</h2>
            <p>
                Nossa missão é proporcionar experiências deliciosas e memoráveis através de mousses de alta qualidade, feitas com ingredientes frescos e selecionados. Queremos ser a escolha preferida dos nossos clientes para adoçar momentos especiais com nossas criações.
            </p>
        </section>
        <section>
            <h2>Valores</h2>
            <ul>
                <li>Qualidade: Usamos apenas os melhores ingredientes para nossos mousses.</li>
                <li>Tradição: Respeitamos as receitas clássicas e técnicas que nos foram transmitidas.</li>
                <li>Inovação: Estamos sempre em busca de novas combinações e sabores.</li>
                <li>Atendimento: Valorizamos cada cliente e buscamos oferecer um serviço excepcional.</li>
                <li>Sustentabilidade: Comprometemo-nos com práticas que respeitam o meio ambiente.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Mousselândia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
